language: ruby
rvm:
- 2.6.5
env:
  global:
  - CC_TEST_REPORTER_ID=6ff37add0aecefe2ddea29e8ebbb74798071c5c2fcf9cf90e27bdb89196896bb
services:
- postgresql
before_script:
- bundle exec rails db:create
- bundle exec rails db:migrate
- curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
  > ./cc-test-reporter
- chmod +x ./cc-test-reporter
- "./cc-test-reporter before-build"
cache:
  bundler: true
  directories:
  - node_modules
  yarn: true
script:
- bundle exec rails webpacker:compile
- bundle exec rspec
- bundle exec rubocop
branches:
  only:
  - master
after_script:
- "./cc-test-reporter after-build -t simplecov --exit-code $TRAVIS_TEST_RESULT"
deploy:
  provider: heroku
  skip_cleanup: true
  app: wepick
  on:
    repo: jasylwong/wepick
  run:
  - bundle exec rails db:migrate
  - bundle exec rails db:seed
  api_key:
    secure: oQ4ktnfHwxYhX8dWGC7/rhL45z8WQuqzwUArqxDHZCkBqoeNEfl3ZcZgTXlMcLnSERCady2SGM3vyCdxnNGj80LfbX7EeJPn6ppt4blRvoMBb+CLn6DqpROybps1mNWiw/WUu5mFFmO4WeBKBtgXU48X/CEFluhquFs2LaIu00LBac8jpOjuPWmWLJsoDG19zBVcFdT5aj2KX4MDMzR3YMAwfhnvIU0y1BJ1hm6JbXwUx9+CQZ5EzzUpKh7NsUMvsYGAEA5crOjUdnCFFqwVG/UNZi1oeEMl99wSfrZka401kC+kB5h9W+xdB18P0td2GWaWB9Zqt9WQmEJLNglmk4PjOI1kbesdvE51QPKws5CfTKYy758FcWcUcf8Rb2uQNrltIZqZQFHyjIKNe3eN8t7AVt5KAdiCIfUFV2eX+zKbjn+18aVBH7pj1KcCjzdMOdxu1mi+qZ8R0fDUDCoRTauneJ0dov5Yndc5gQY+oJbUAjvNfKtfEQbydsP1SbQqPuohJU4nr9dKmVnJNnx3vmNG+WwuBtQbhMYcb26+HCr3GlThj6MHcG9jmQ/DKXmqUA2uzjAhbTitqCNui8iEiBzEnpBdubh0vM96Em5MRnDkTCdB7mOohR31HHMCWEdfsZzvFLdOZjyGT7TRuaXDIhBt7cTlAchtY2C2nntuYGc=
