<h1>Friendships#create</h1>
<p>Find me in app/views/friendships/create.html.erb</p>
<h2>Welcome <%= current_user.email %> to wepick</h2>

<form action="#" method="post">
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required>
                </div>
            </div>
            <!-- Single Input Area Start -->
            <div class="col-md-12">
                <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your E-mail" required>
                </div>
            </div>
            <!-- Single Input Area Start -->
            <div class="col-12">
                <div class="form-group">
                    <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Your Message *" required></textarea>
                </div>
            </div>
            <!-- Single Input Area Start -->
            <div class="col-12">
                <button type="submit" class="btn submit-btn">Send Now</button>
            </div>
        </div>
    </div>
    <!-- Message Input Area End -->
</form>

