<h1>Welcome <%= current_user.email %> to wepick</h1>

<h2>Add a friend</h2>

<% @users.each do |u| %>
  <% if u.email != current_user.email && !current_user.friends_with?(u) %>
    <div>
      <%= u.email %>
      <%= link_to 'Add friend', friendships_new_path(:friend => u.id), method: :post %>
    </div>
    <br>
  <% end %>
<% end %>

<% unless current_user.friends.to_a.empty? %>
  <%= link_to 'Go to friends list', '/' %>
<% end %>
