<h1>Welcome</h1>

<h2>Welcome <%= current_user.email %> to wepick</h2>


<% @users.each do |u| %>
  <% if u.email != current_user.email %> 
    <%= u.email %> 
    <%= link_to 'Add friend', friendships_new_path(:friend => u.id),  method: :post %>
  <% end %>
<% end %>
