<h1>Pick a genre</h1>

<div>
    <a href="games/Action">Action</a>
    <a href="games/Adventure">Adventure</a>
    <a href="games/Animation">Animation</a>
    <a href="games/Comedy">Comedy</a>
    <a href="games/Crime">Crime</a>
    <a href="games/Documentary">Documentary</a>
    <a href="games/Drama">Drama</a>
    <a href="games/Family">Family</a>
    <a href="games/Fantasy">Fantasy</a>
    <a href="games/History">History</a>
    <a href="games/Horror">Horror</a>
    <a href="games/Music">Music</a>
    <a href="games/Mystery">Mystery</a>
    <a href="games/Romance">Romance</a>
    <a href="games/Science-Fiction">Science Fiction</a>
    <a href="games/TV-Movie">TV Movie</a>
    <a href="games/Thriller">Thriller</a>
    <a href="games/War">War</a>
    <a href="games/Western">Western</a>
</div>