<h1>Pick a genre</h1>

<div>
    <%= button_to 'Action', games_path(:genre => 'Action') %>
    <a href="/Adventure">Adventure</a>
    <a href="/Animation">Animation</a>
    <a href="/Comedy">Comedy</a>
    <a href="/Crime">Crime</a>
    <a href="/Documentary">Documentary</a>
    <a href="/Drama">Drama</a>
    <a href="/Family">Family</a>
    <a href="/Fantasy">Fantasy</a>
    <a href="/History">History</a>
    <a href="/Horror">Horror</a>
    <a href="/Music">Music</a>
    <a href="/Mystery">Mystery</a>
    <a href="/Romance">Romance</a>
    <a href="/Science-Fiction">Science Fiction</a>
    <a href="/TV-Movie">TV Movie</a>
    <a href="/Thriller">Thriller</a>
    <a href="/War">War</a>
    <a href="/Western">Western</a>
</div>