// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: black;
  color: white;
  max-width: 400px;
  
  transform-origin: 50% 100%;

  * {
    margin: 24px;
  }

  &.to-left {
    transform: translateX(-30rem) rotate(-30deg);
    transition: transform 0.3s;
  }

  &.to-right {
    transform: translateX(30rem) rotate(30deg);
    transition: transform 0.3s;
  }
}
