// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.card {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 5px #48ffd5 solid;
  border-radius: 25px;
  background-color: #0E2A47;
  // background-color: white;
  // color: #0E2A47;
  color: white;
  width: 70%;
}

.like-dislike-container {
  text-align: center;
  left: 20%;
}

.dislike-button {
  float: left; 
  width: 50%;
  height: 500px;
  background: url(https://images.unsplash.com/photo-1484557985045-edf25e08da73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
}

.like-button {
  float: left; 
  width: 50%;
  height: 500px;
  background-color: green;
}


