// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 5px #48ffd5 solid;
  border-radius: 25px;
  background-color: #0E2A47;
  // background-color: white;
  // color: #0E2A47;
  color: white;
  width: 70%;
}

.matched {
  font-size: 50px;
}

.where-to-watch {
  font-size: 30px;
}

.rematch-button {
  width: 15%;
  border-radius: 5px;
  border-color: #48ffD5;
  background-color: #48ffD5;
  color: black;
}

.rematch-button:hover {
  background-color: rgb(199, 255, 242);
  border-color: rgb(199, 255, 242);
  cursor: pointer;
}

.like-dislike-container {
  text-align: center;
  left: 20%;
}

.dislike {
  background-color: red;
  float: left; 
  width: 25%;
  border-radius: 15%;
}

.like {
  background-color: green;
}


